body {
        margin: 0;
        padding: 0;
        overflow: hidden;
        background: #000000;
}

#info {
        position: absolute;
        padding: 10px;
        width: 100%;
        text-align: center;
        font-family: monospace;
        font-size: 10pt;
}

.errmsg {
        text-transform: uppercase;
        width: 60%;
        margin: auto;
        margin-top: 10em;
        font-family: Avenir Next, monospace;
        color: #ffffff;
        text-shadow:
        0pt 0pt 8pt #66ccff,
        0pt 0pt 8pt #66ccff,
        0pt 0pt 8pt #66ccff;
}

.errmsg h1 {
        font-weight: normal;
        font-size: 48pt;
}

.errmsg h2 {
        font-weight: normal;
        font-size: 24pt;
}

.errmsg ul {
        list-style-type: none;
        padding: 0px;
}

.errmsg a {
        text-decoration: none;
}

.errmsg a:hover {
        text-shadow:
        0pt 0pt 8pt #66ccff,
        0pt 0pt 8pt #66ccff,
        0pt 0pt 8pt #66ccff,
        0pt 0pt 8pt #66ccff,
        0pt 0pt 8pt #66ccff,
        0pt 0pt 8pt #66ccff;
}

.errmsg a:visited {
        color: inherit;
}

.errmsg .red {
        text-shadow:
        0pt 0pt 8pt #ff8080,
        0pt 0pt 8pt #ff8080;
}

.errmsg .green {
        text-shadow:
        0pt 0pt 8pt #66ff66,
        0pt 0pt 8pt #66ff66;
}
